@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes wave {
  0%, 100% { height: 0.5rem; }
  50% { height: 2rem; }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}